services:
  - type: web
    name: projuris-app
    env: python
    plan: free
    buildCommand: |
      pip install -r src/backend/requirements.txt
      cd frontend
      npm install
      npm run build
    startCommand: "gunicorn --chdir src/backend run:app"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
      - key: FLASK_APP
        value: "src/backend/run.py"
      - key: FLASK_ENV
        value: production
      - key: DATABASE_URL
        value: postgresql://dbprojuris_user:ER79gWSXU0XhoRCz03q92QewRaXOegno@dpg-d4n655k9c44c738i8tb0-a/dbprojuris
